<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @guest.name %>
</p>

<p>
  <b>Passport:</b>
  <%= @guest.passport %>
</p>

<p>
  <b>Contact details:</b>
  <%= @guest.contact_details %>
</p>


<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>
