<%= form_for(@occupancy) do |f| %>
  <% if @occupancy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@occupancy.errors.count, "error") %> prohibited this occupancy from being saved:</h2>

      <ul>
      <% @occupancy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :arrival %><br />
    <%= f.datetime_select :arrival %>
  </div>
  <div class="field">
    <%= f.label :departure %><br />
    <%= f.datetime_select :departure %>
  </div>
  <div class="field">
    <%= f.label :reservation_id %><br />
    <%= f.text_field :reservation_id %>
  </div>
  <div class="field">
    <%= f.label :room %><br />
    <%= f.collection_select :room_id, Room.all, :id, :number %>
  </div>
  
  <div id='guests'>
    <h3>Guests</h3>
    <% @occupancy.guests.each do |guest| %>
      <%= link_to guest.name, guest_path(guest) %>
    <% end %>
  </div>
  
  <%= link_to_function('Show Guest') {|page| page.visual_effect :highlight, 'guests' } %>
    
  <%= link_to_function 'Add Guest' do |page|
        page.insert_html :bottom, :guests, :partial => 'guest_form', :object => f
      end
  %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
