<%= form_for(@occupancy) do |f| %>
  <% if @occupancy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@occupancy.errors.count, "error") %> prohibited this occupancy from being saved:</h2>

      <ul>
      <% @occupancy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :arrival %><br />
    <%= f.datetime_select :arrival %>
  </div>
  <div class="field">
    <%= f.label :departure %><br />
    <%= f.datetime_select :departure %>
  </div>
  <div class="field">
    <%= f.label :reservation_id %><br />
    <%= f.text_field :reservation_id %>
  </div>
  
  <%= f.fields_for :guests do |g| %>
     <div class="field">
       <%= g.label :name %><br />
       <%= g.text_field :name %>
     </div>
     <div class="field">
       <%= g.label :passport %><br />
       <%= g.text_field :passport %>
     </div>
     <div class="field">
       <%= g.label :contact_details %><br />
       <%= g.text_area :contact_details %>
     </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
