<%= form_tag(availability_path, :method => :delete) do |form|%>
   Start: <%= select_date(@start_date, :prefix => :start_date) %> <br/>
   End: <%= select_date(@end_date, :prefix => :end_date) %> <br/>
   
   <%= submit_tag("Check availability") %>
<% end %>

<table>
   <tr>
      <th>Date</th>
      <% @rooms.each do |room| %>
         <th><%= room.number %></th>
      <% end %>
   </tr>
   
   <% (@start_date..@end_date).to_a.each do |date| %>
      <tr>
         <td><%= date.to_s(:short) %></td>
         
         <% @rooms.each do |room| %>
            <td class="<%= availablity_css room, date %>">
               &nbsp;
            </td>
         <% end %>
      </tr>
   <% end %>
</table>

